<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Project Template</title>

	<link rel="stylesheet" type="text/css" href="../river_css/template_03.css">

</head>
<body>
<div id="wrapper_team">

<h1>template</h1>

<h2>This is the template key for thumbnail combinations</h2> 

<div id="nav">
<ul>
<li><a href="../../index.html">Index Home</a></li>
<li><a href="../river.html">River Trail</a></li>
<li><a href="template_01.html">Template_01</a></li>
<li><a href="template_02.html">Template_02</a></li>
<li><a href="template_03.html">Template_03</a></li>

</ul>
</div>

<h3>All containers are floated left. There are two that are margined to be entered first and the one named "container_individual_right" is margined to end the row.</h3> 

<h3>There are three .css files and they are all the same. The outlines.css and template.css are a simple way to use the container outlines or container background colors for a layout guide.</h3>

<div class="container_individual_left">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_individual_left { width: 336px; margin: 0 36px 15px 0; background-color: 
	orange; float: left;<br>div.container_individual_left { width: 336px; margin: 0 36px 15px 0; background-color: orange; float: left;</p>
</div>

<div class="container_individual_left">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_individual_left { width: 336px; margin: 0 36px 15px 0; background-color: 
	orange; float: left;<br>div.container_individual_left { width: 336px; margin: 0 36px 15px 0; background-color: orange; float: left;</p>
</div>

<div class="container_individual_right">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_individual_right { width: 336px; margin: 0 0 15px 0; background-color: green; float: left;<br>div.container_individual_right { width: 336px; margin: 0 0 15px 0; background-color: green; float: left;</p>
</div>
<br>
<h3>Below are the left and right containers for the home page.</h3><br>

<div class="container_home_left">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg"
	alt="trail at the park"></a></p>
	<p>div.container_home_left { width: 400px; margin: 0 0 15px 30px; div.container_home_left { width: 400px; margin: 0 0 15px 30px; div.container_home_left { width: 400px; margin: 0 0 15px 30px; div.container_home_left { width: 400px; margin: 0 0 15px 30px;</p>
</div>

<div class="container_home_right">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg"
	alt="trail at the park"></a></p>
	<p>div.container_home_right { width: 400px; margin: 0 30px 15px 220px; div.container_home_right { width: 400px; margin: 0 30px 15px 220px; div.container_home_right { width: 400px; margin: 0 30px 15px 220px;</p>	
</div>

<div id="footer">
	<p>Web Site Dsgn & Development I - 41012</p>
</div>

</div>   <!--ends wrapper_team-->
</body>
</html>