<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Project Template</title>

	<link rel="stylesheet" type="text/css" href="../river_css/template_01.css">

</head>
<body>
<div id="wrapper_team">

<h1>template</h1>

<h2>This is the template key for thumbnail combinations</h2> 


<div id="nav">
<ul>
<li><a href="../../index.html">Index Home</a></li>
<li><a href="../river.html">River Trail</a></li>
<li><a href="template_01.html">Template_01</a></li>
<li><a href="template_02.html">Template_02</a></li>
<li><a href="template_03.html">Template_03</a></li>
</ul>
</div>


<h3>All containers are floated left. The right margins on the containers leave the image short of reaching the right border of the page. Add 15 pixels to the last thumbnail image of a row to overflow and balance the right border.  Text however, will not similarly overflow the container.</h3> 

<div class="container_30">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_30">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_30">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_60">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_60 { width: 648px; div.container_60 { width: 648px; div.container_60 { width: 648px; div.container_60 { width: 648px; div.container_60 { width: 648px; div.container_60 { width: 648px;div.container_60 { width: 648px; div.container_60 { width: 648px;</p>
</div>

<div class="container_40">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px;</p>
</div>

<div class="container_40">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px;</p>
</div>

<div class="container_40">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px;</p>
</div>

<div class="container_20">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_20 { width: 231px; div.container_20 { width: 231px; div.container_20 { width: 231px;</p>
</div>

<div class="container_22">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_22 { width: 287px; div.container_22 { width: 287px; div.container_22 { width: 287px;</p>
</div>

<div class="container_40">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px; div.container_40 {width: 402px;</p>
</div>

<div class="container_30">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_20">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_20 { width: 231px; div.container_20 { width: 231px; div.container_20 { width: 231px;</p>
</div>

<div class="container_22">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_22 { width: 287px; div.container_22 { width: 287px; div.container_22 { width: 287px;</p>
</div>

<div class="container_50">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;  div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;</p>
</div>

<div class="container_50">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;  div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;</p>
</div>

<div class="container_50">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;  div.container_50 { width: 517px; div.container_50 { width: 517px; div.container_50 { width: 517px;</p>
</div>

<h3>Linear default top alignment of images can be avoided when desired using the img. class in the css style sheet. img class="down_01" and img class="down_02".</h3><br>

<div class="container_30">
<p><a href="moores_01.html"><img src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_30">
<p><a href="moores_01.html"><img class="down_01" src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_30">
<p><a href="moores_01.html"><img class="down_02" src="thumbnails/moores_dam_01_thumb.jpg" 
	alt="trail at the park"></a></p>
	<p>div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px; div.container_30 { width: 345px;</p>
</div>

<div class="container_01">
<div id="nav">
<ul>
<li><a href="home_team_03.html">home</a></li>
<li><a href="time_line.html">time_Line</a></li>
<li><a href="robert/robert.html">robert's</a></li>
<li><a href="template_01.html">template_01</a></li>
<li><a href="template_02.html">template_02</a></li>
<li><a href="template_03.html">Template_03</a></li>
</ul>
</div>
</div>  <!--ends container_01-->

<div id="footer_right">
	<p>Website Development & Design</p>
</div>

</div>  <!--ends wrapper_team-->
</body>
</html>